* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Acme", sans-serif;
  background: linear-gradient(
      35deg,
      rgba(229, 112, 231, 1) 0%,
      rgba(200, 94, 199, 1) 49%,
      rgba(255, 255, 255, 1) 49%
    )
    no-repeat center center fixed;

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#ffffff',GradientType=1 );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
